GIS-Project/FMI.ArcGIS.WCF.Service/FMI.ArcGIS.WCF.Service.ClientApp/Service References/USAWCFService/USAService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3725/USAService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" />
  <xs:element name="SearchCitiesInState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateAbbr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCitiesInStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" minOccurs="0" name="SearchCitiesInStateResult" nillable="true" type="q1:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="centerX" type="xs:double" />
        <xs:element minOccurs="0" name="centerY" type="xs:double" />
        <xs:element minOccurs="0" name="distance" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" minOccurs="0" name="SearchCitiesResult" nillable="true" type="q2:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCitiesByAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="areaName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityClass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isCapital" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pop2000" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCitiesByAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" minOccurs="0" name="FindCitiesByAttributesResult" nillable="true" type="q3:ArrayOfCityDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHighwaysByAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lenBottomBound" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lenUpperBound" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admClass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rtNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="route" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindHighwaysByAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" minOccurs="0" name="FindHighwaysByAttributesResult" nillable="true" type="q4:ArrayOfHighwayDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStatesByAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stateAbbr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStatesByAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" minOccurs="0" name="FindStatesByAttributesResult" nillable="true" type="q5:ArrayOfStateDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCountiesByAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="areaBottom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="areaTop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCountiesByAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" minOccurs="0" name="FindCountiesByAttributesResult" nillable="true" type="q6:ArrayOfCountyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>