GIS-Project/FMI.ArcGIS.WCF.Service/FMI.ArcGIS.WCF.Service.ClientApp/Service References/USAWCFService/USAService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCity" nillable="true" type="tns:ArrayOfCity" />
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City" nillable="true" type="tns:City" />
  <xs:complexType name="ArrayOfCityDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityDetails" nillable="true" type="tns:CityDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityDetails" nillable="true" type="tns:ArrayOfCityDetails" />
  <xs:complexType name="CityDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCapital" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pop2000" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityDetails" nillable="true" type="tns:CityDetails" />
  <xs:complexType name="ArrayOfHighwayDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HighwayDetails" nillable="true" type="tns:HighwayDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHighwayDetails" nillable="true" type="tns:ArrayOfHighwayDetails" />
  <xs:complexType name="HighwayDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmnClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:double" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RteNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RteNum2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TollRd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HighwayDetails" nillable="true" type="tns:HighwayDetails" />
  <xs:complexType name="ArrayOfStateDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateDetails" nillable="true" type="tns:StateDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateDetails" nillable="true" type="tns:ArrayOfStateDetails" />
  <xs:complexType name="StateDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" type="xs:double" />
      <xs:element minOccurs="0" name="Pop00_SQMI" type="xs:int" />
      <xs:element minOccurs="0" name="Pop2000" type="xs:int" />
      <xs:element minOccurs="0" name="StateAbbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubRegion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateDetails" nillable="true" type="tns:StateDetails" />
  <xs:complexType name="ArrayOfCountyDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountyDetails" nillable="true" type="tns:CountyDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountyDetails" nillable="true" type="tns:ArrayOfCountyDetails" />
  <xs:complexType name="CountyDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pop00_SQMI" type="xs:double" />
      <xs:element minOccurs="0" name="Pop2000" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountyDetails" nillable="true" type="tns:CountyDetails" />
</xs:schema>