GIS-Project/FMI.ArcGIS.WCF.Service/FMI.ArcGIS.WCF.Service.ClientApp/Service References/USAWCFService/USAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="USAService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IUSAService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3725/USAService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3725/USAService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3725/USAService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FMI.ArcGIS.WCF.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUSAService_SearchCitiesInState_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCitiesInState" />
  </wsdl:message>
  <wsdl:message name="IUSAService_SearchCitiesInState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCitiesInStateResponse" />
  </wsdl:message>
  <wsdl:message name="IUSAService_SearchCities_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCities" />
  </wsdl:message>
  <wsdl:message name="IUSAService_SearchCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IUSAService_FindCitiesByAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCitiesByAttributes" />
  </wsdl:message>
  <wsdl:message name="IUSAService_FindCitiesByAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCitiesByAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="IUSAService_FindHighwaysByAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:FindHighwaysByAttributes" />
  </wsdl:message>
  <wsdl:message name="IUSAService_FindHighwaysByAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindHighwaysByAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="IUSAService_FindStatesByAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:FindStatesByAttributes" />
  </wsdl:message>
  <wsdl:message name="IUSAService_FindStatesByAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindStatesByAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="IUSAService_FindCountiesByAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCountiesByAttributes" />
  </wsdl:message>
  <wsdl:message name="IUSAService_FindCountiesByAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCountiesByAttributesResponse" />
  </wsdl:message>
  <wsdl:portType name="IUSAService">
    <wsdl:operation name="SearchCitiesInState">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSAService/SearchCitiesInState" message="tns:IUSAService_SearchCitiesInState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSAService/SearchCitiesInStateResponse" message="tns:IUSAService_SearchCitiesInState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSAService/SearchCities" message="tns:IUSAService_SearchCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSAService/SearchCitiesResponse" message="tns:IUSAService_SearchCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCitiesByAttributes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSAService/FindCitiesByAttributes" message="tns:IUSAService_FindCitiesByAttributes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSAService/FindCitiesByAttributesResponse" message="tns:IUSAService_FindCitiesByAttributes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindHighwaysByAttributes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSAService/FindHighwaysByAttributes" message="tns:IUSAService_FindHighwaysByAttributes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSAService/FindHighwaysByAttributesResponse" message="tns:IUSAService_FindHighwaysByAttributes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindStatesByAttributes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSAService/FindStatesByAttributes" message="tns:IUSAService_FindStatesByAttributes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSAService/FindStatesByAttributesResponse" message="tns:IUSAService_FindStatesByAttributes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCountiesByAttributes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSAService/FindCountiesByAttributes" message="tns:IUSAService_FindCountiesByAttributes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSAService/FindCountiesByAttributesResponse" message="tns:IUSAService_FindCountiesByAttributes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IUSAService" type="tns:IUSAService">
    <wsp:PolicyReference URI="#CustomBinding_IUSAService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchCitiesInState">
      <soap12:operation soapAction="http://tempuri.org/IUSAService/SearchCitiesInState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCities">
      <soap12:operation soapAction="http://tempuri.org/IUSAService/SearchCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCitiesByAttributes">
      <soap12:operation soapAction="http://tempuri.org/IUSAService/FindCitiesByAttributes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindHighwaysByAttributes">
      <soap12:operation soapAction="http://tempuri.org/IUSAService/FindHighwaysByAttributes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindStatesByAttributes">
      <soap12:operation soapAction="http://tempuri.org/IUSAService/FindStatesByAttributes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCountiesByAttributes">
      <soap12:operation soapAction="http://tempuri.org/IUSAService/FindCountiesByAttributes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="USAService">
    <wsdl:port name="CustomBinding_IUSAService" binding="tns:CustomBinding_IUSAService">
      <soap12:address location="http://localhost:3725/USAService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:3725/USAService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>